/* styles for cdml project "tde4_ldm_standard" */

bbox
	{
	display:inline;
	}
bbox:before
	{
	content:"[";
	}
bbox:after
	{
	content:"]";
	}
/* Das haetten wir gerne so wie in TeX... */
p
	{
	margin-top:inherit;
	margin-bottom:inherit;
	text-indent:1.8em;
	}
