cdml_code[lang=tty]
	{
	width:100%;
	}
pre.ttycode
	{
	font-family:monospace;
	font-size:smaller;
	line-height:1.2em;
	border-top: 1px solid #aac;
	border-left: 1px solid #aac;
	border-bottom: 1px solid #dde;
	border-right: 1px solid #dde;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	background-color:#f7f7ff;
	color:#000;
	}

